/* ------------------------- very Small Screens ------------------------*/
@media (max-width:576px) {
  
}
/* ------------------------- Small Screens ------------------------*/
@media (min-width:577px) {

}
@media (min-width:577px) and (max-width:767px) {

}
@media (max-width:767px) {

}

/* ------------------------- Mediem Screens ------------------------*/
@media (min-width:768px) {

}
@media (min-width:768px) and (max-width:992px) {

}
@media (max-width: 1000px) {
    .search-bar{
        margin: 20px 0px 10px 0px;
        width: 100%;
    }
    .header{
        height: 70px;
        overflow: hidden;
    }
    .search-bar button {
        width: 16%;
        right: 0;
    }
    .burgerIcon{
        display: initial;
        color: #FFF;
        font-size: 28px;
    }
    .content{
        margin: 0px;
        width: 100%;
    }
    .footer{
        margin-top: 30px;
    }
}

/* ------------------------- Large Screens ------------------------*/
@media (min-width:992px) {

}
@media (min-width:992px) and (max-width:1199px) {

}

/* ------------------------- X Large Screens ------------------------*/
@media (min-width:1200px) {
  .container{
    width: 1170px;
    padding: 0;
  }
}
